/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
  background:#fff;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-weight: 600;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, .4);
}

h1 {
  font-family: 'Gotham A', 'Gotham B', 'Open Sans Regular', 'Verdana', 'Helvetica', Arial;
  margin: .25em .25em 1em 0em;
  font-weight: 700;
}

p {
  margin: 1em 0;
  line-height: 23px;
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

a:hover {
  color: #fff;
  border-bottom: #fff solid 1px;
  text-decoration: none;
}

table {
  font-size: inherit;
  font: 100%;
}

.page {
  clear: both;
}
.clear{ 
  clear:both;
}

li {
  list-style: none;
  font-weight: 400;
}

.row-fluid {
    max-width: 960px;
}